<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>c</string>
				<string>p</string>
				<string>pas</string>
				<string>cpp</string>
				<string>m</string>
				<string>pl</string>
				<string>rb</string>
				<string>js</string>
				<string>fs</string>
				<string>gs</string>
				<string>vs</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>TEXT</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Lightweight-IDE</string>
	<key>CFBundleIconFile</key>
	<string>Lightweight-IDE.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Built by Lightweight IDE</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>	<true/></dict>
</plist>
